<h1>Welcome to CSE Motors!</h1>
<div id="hero">
    <img src="/images/vehicles/delorean.jpg" alt="A selection of vehicles from CSE Motors">
    <div class="hero-text">
        <h2>DMC Delorean</h2>
        <ul>
            <li>3 Cup Holders</li>
            <li>Superman Doors</li>
            <li>Fuzzy Dice!</li>
        </ul>
        <a href="/inventory" class="cta-btn">Own Today</a>
    </div>
</div>
<div class="car-details">
    <div>
        <h2>Delorean Upgrades</h2>
        <ul class="upgrades">
            <li><a href=""><div class="img-cont"><img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor"></div>Flux Capacitor</a></li>
            <li><a href=""><div class="img-cont"><img src="/images/upgrades/flame.jpg" alt="Flame Decals"></div>Flame Decals</a></li>
            <li><a href=""><div class="img-cont"><img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers"></div>Bumper Stickers</a></li>
            <li><a href=""><div class="img-cont"><img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps"></div>Hub Caps</a></li>
        </ul>
    </div>
    <div>
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (5/5)</li>
            <li>"I'm feeling Marty McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
</div>