<% if (title) { %>
 <h1><%= title %></h1>
 <% } else {
    res.redirect('/')
 } %>

<% if (typeof messages !== 'undefined') { %>
    <% if (messages.notice) { %>
        <div class="notice">&#10069; <%= messages.notice %></div>
    <% } %>
    <% if (typeof errors !== 'undefined' && !errors.isEmpty()) { %>
        <ul class="notice error">
            <% errors.array().forEach(error => { %>
                <li>&#9940; <%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>
    <% if (messages.success) { %>
        <div class="notice success">&#9989; <%= messages.success %></div>
    <% } %>
<% } %>

<div id="management-links">
    <a href="/inv/classification" class="btn btn-primary">Add New Classification</a>
    <a href="/inv/new" class="btn btn-primary">Add New Inventory Item</a>
</div>